<div class="container">
    <div class="row">
        <img src="assets/img/noticias.jpeg">
        <hr>

        <div class="col-lg-6 col-sm-6 bg-primary">
            <h1 class="text-light">¿Cuál es el pan más saludable?</h1>
            <br>
            <p class="text-light">El pan y los cereales son parte fundamental de una dieta sana y equilibrada. Hay
                muchas personas que deciden prescindir de ellos con la idea de bajar de peso, sin embargo, los
                nutricionistas nos indican que no es adecuado. ¿Pero qué tipo de pan más saludable, lo sabes?</p>
            <p class="text-light">El pan nos aporta fibra e hidratos de carbono, indispensables para nuestro cuerpo.
                Es
                necesario conocer qué tipo de pan es el más adecuado y consumirlo de forma equilibrada. Te lo
                explicamos.</p>
            <p class="text-light">Algunas modas existentes en materia de dietas para adelgazar hacen que vayamos
                dejando
                a un lado los alimentos que de verdad son necesarios. El pan nos aporta no solo fibra, sino también
                aminoácidos, vitaminas, minerales….</p>
            <p class="text-light">Una buena dieta debe ser siempre variada, y el pan -pero siempre el pan más
                adecuado-
                nos aporta grandes beneficios. Veamos los aspectos más importantes.</p>
        </div>
        <div class="col-lg-6 col-sm-6">
            <img src="assets/img/saludable.jpg">
        </div>
    </div>
    <br>
</div>

<div class="bg-primary text-light text-center">

    PANADERIA EXPRESS<br>
    Para tener el gusto de ayudarte....<br>
    <a class="text-light" href="Contactanos.html">Contactanos!</a>
</div>