<img src="../img/quienes_somos.jpg">
  <div class="container">
    <!--Inicio grilla-->
    <br>
    <div class="row">
      <div class="col-lg-6 col-sm-6 bg-primary">
        <h1 class="text-light">Mision</h1>
        <br>
        <p class="text-light">Somos una empresa dedica a compartir recetas de productos de panadería y pastelería
          comprometidos con nuestros clientes en brindarles calidad y sabor con un servicio amable y oportuno.</p>
      </div>
      <div class="col-lg-6 col-sm-6">
        <img src="assets/img/mision.jpg" width="500" height="300">
      </div>
      <br>
      <div class="col-lg-6 col-sm-6">
        <br>
        <h1 class="text-primary">Vision</h1>
        <br>
        <p class="text-primary">Ser reconocida como una compañía innovadora, eficiente, responsable e incluyente, que
          genera valor económico y social para sus colaboradores, sus clientes, sus accionistas y la comunidads</p>
      </div>
      <br>
      <div class="col-lg-6 col-sm-6">
        <br>
        <img src="assets/img/vision.jpg" width="500" height="300">
      </div>

    </div>

  </div>

  <br>
  <div class="bg-primary text-light text-center">
    PANADERIA EXPRESS<br>
    Para tener el gusto de ayudarte....<br>
    <a class="text-light" href="Contactanos.html">Contactanos!</a>
  </div>



  <script src="../js/taller.js"></script>