  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 text-primary text-center">
        <br>
        <h1>Pan casero</h1>
        Pan casero con harina común, la receta más fácil y rápida (sin levado) que siempre sale bien

      </div>
      <div class="col-lg-12 col-sm-12">
        <br>
        <img src="assets/img/panes.jpg" class="col-lg-12 col-sm-12">
      </div>
      <div class="col-lg-6 col-sm-6 text-light bg-primary">
        <br>
        Hacer pan en casa es algo maravilloso, aunque meterse en ello suele imponer un poco. Asusta leer una receta y
        encontrarse con términos como masa madre, larga fermentación, etc, pero ese no es nuestro caso. La receta de pan
        casero con harina común que hoy traemos es todo lo contrario. Perfecta para estrenarse en el mundo del pan y con
        total garantía de éxito.

        Este pan siempre sale bien y no necesita levado. En poco más de una hora esta hogaza que veis en portada estará
        lista para ser devorada. En su elaboración usamos harina común, la del super de toda la vida, algo que resulta
        comodísimo. Una última cosa, la levadura fresca se puede sustituir por cinco gramos levadura seca de panadería.
      </div>
      <div class="col-lg-6 col-sm-6 text-center">
        <img src="assets/img/cocinando.jpg" class="col-lg-6 col-sm-6">
      </div>
      <div class="col-lg-6 col-sm-6 text-center text-primary">
        <h1>INGREDIENTES</h1>
      </div>
      <div class="col-lg-6 col-sm-6 text-center text-light bg-primary">
        <h1>DIFICULTAD</h1>
      </div>
      <div class="col-lg-6 col-sm-6 text-light bg-primary">
        <TAble class="table text-light">
          <tr>
            <td>Harina de trigo común</td>
            <th>500g</th>
          </tr>
          <tr>
            <td>Agua</td>
            <th>325ml</th>
          </tr>
          <tr>
            <td>Levadura</td>
            <th>15g</th>
          </tr>
          <tr>
            <td>Sal</td>
            <th>10g</th>
          </tr>
          <tr>
            <td>Azucar</td>
            <th>10g</th>
          </tr>
          <tr>
            <td>Aceite de oliva virgen</td>
            <th>45ml</th>
          </tr>
        </TAble>
      </div>
      <div class="col-lg-6 col-sm-6 text-primary">
        <TAble class="table text-primary">
          <tr>
            <td>Dificultad</td>
            <th>Facil</th>
          </tr>
          <tr>
            <td>Elaboracion</td>
            <th>10m</th>
          </tr>
          <tr>
            <td>Coccion</td>
            <th>45m</th>
          </tr>
          <tr>
            <td>Reposo</td>
            <th>20m</th>
          </tr>
          <tr>
            <th>Tiempo total</th>
            <th>55m</th>
          </tr>
        </TAble>
      </div>
      <div class="col-lg-12 col-sm-12 text-primary text-center">
        <br>
        <p> Introducimos el agua templada en un recipiente amplio y hondo y añadimos la levadura fresca, desmenuzada, y
          el azúcar. Removemos hasta que el azúcar y la levadura se integren por completo. <br>

          Añadimos la mitad de la harina y todo el aceite. Removemos bien, procurando aplastar los grumos que se formen,
          y dejamos reposar durante 20 minutos a temperatura ambiente, cubriendo el recipiente con un trapo limpio. La
          masa crecerá ligeramente y se llenará de burbujas. <br>

          Transcurrido el tiempo de reposo incorporamos el resto de la harina, la sal y removemos hasta que no podamos
          más, porque se volverá muy espesa. Espolvoreamos la superficie de trabajo con harina y volcamos la masa sobre
          ella. <br>
          Nos engrasamos las manos con aceite y amasamos durante un par de minutos.
          Formamos una bola con la masa y la colocamos sobre una bandeja de horno cubierta con papel vegetal untado con
          un poco de aceite. Hacemos dos cortes en la superficie con un cuchillo afilado y, si queremos dar un aire
          rústico al pan, lo espolvoreamos con harina.

          Embadurnamos con aceite el interior de un recipiente amplio y hondo apto para horno (hemos usado un bol de
          pyrex de 24 cm, pero se puede usar una cacerola o similar) y cubrimos con él la masa. Cocemos en el horno,
          precalentado a 200 ºC con calor arriba y abajo, durante 45 minutos. Destapamos y dejamos enfriar sobre una
          rejilla antes de consumir.</p>
      </div>

      <div class="col-lg-12 col-sm-12 text-primary"></div>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/v8F6yJt1ULo" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe><br>
        <br>
        <hr>
        <br>
        <div class="col-lg-12 col-sm-12 text-primary text-center fs-1">
          DEJANOS TUS IDEAS, RECETAS O MEJORE COMENTARIOS, NOS SERA DE AYUDA!
        </div>
        <div class="col-lg-6 col-sm-6 text-primary">
          <img class="img-fluid" width="550" height="350" src="assets/img/ideas.gif" alt="">
        </div>
        <div class="col-lg-6 col-sm-6 border bg-primary">
          <br>
          <form id="miForm" autocomplete="off">
            <label class="text-light fw-bold">Nombre</label> <br>
            <input type="text" class="form-control" id="txtNombre"> <br>
            <label class="text-light fw-bold">Apellido</label> <br>
            <input type="text" class="form-control" id="txtApellido"> <br>
            <label class="text-light fw-bold">Comentarios</label> <br>
            <input type="text" class="form-control" id="txtComentario"> <br>
            <br>
            <button type="button" id="btnenviar" class="btn btn-light text-primary fw-bold"
              onclick="enviar()">Enviar</button>
              <button type="button" id="btneditar" class="btn btn-light text-primary fw-bold" disabled
              onclick="actualizarfila()">Editar</button>
            <br>
    
          </form>
        </div>
    </div>


  </div>
  <br>
  <div class="bg-primary text-light text-center">
    PANADERIA EXPRESS<br>
    Para tener el gusto de ayudarte....<br>
    <a class="text-light" href="Contactanos.html">Contactanos!</a>
  </div>


